# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
*.egg-info/
.eggs/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Xcode / iOS
*.xcuserstate
*.xcworkspace
DerivedData/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
